.content {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.photo-op {
    display: inline;
}

.photo-op .photo-container {
    position: relative;
    z-index: 10;
    top: -100%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 4rem 2rem 4rem;
    transition: top 2s linear, opacity 1s;
}

.photo-op:hover .photo-container {
    top: 0;
    opacity: 1;
}