.content {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.location {
    color: maroon;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    display: inline;
}

.photo-op {
    display: none;
    margin-top: 10px;
}

.location:hover + .photo-op {
    position: relative;
    display: block;
    width: 100vw;  /* 100% of the viewport width */
    height: auto;
    padding: 0.5rem 4rem 2rem 4rem;
    transition: opacity 3s;
}

/*.photo-op:hover .photo-container {
    top: 0;
    opacity: 1;
} */

/*
container --> content
image-overlay --> photo-op
overlay-box -?> photo-container
 */